@import url('./reset.css');

body {
    background-color: #000;
    width: 100vw;
    height: 100vh;
}

h2 {
    font-size: 2.5rem;
    justify-self: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.main-content {
    display: flex;
    justify-content: space-around;

    .profile-content {
        display: flex;
        flex-direction: column;
        width: 30vw;
        gap: 1rem;
        padding: 2rem;
        border: 2px solid #fff;
        border-radius: 1.5rem;

        h3 {
            font-size: 2rem;
        }

        img {
            max-width: 250px;
            border-radius: 50%;
            align-self: center;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: .75rem;
        }

        li {
            display: flex;
            justify-content: space-between;

            span {
                font-weight: 800;
            }
        }
    }
}